Xcursor.size: 32


URxvt.scrollBar: false
URxvt.transparent:   true
URxvt.shading:       15
URxvt.font:                     xft:MesloLGS NF:autohint=true:size=9
URxvt.boldFont:                 xft:MesloLGS NF:autohint=true:bold:size=9
URxvt.italicFont:               xft:MesloLGS NF:autohint=true:italic:size=9
URxvt.boldItalicFont:           xft:MesloLGS NF:autohint=true:bold:italic:size=9

! Disables default Control Shift C and V 
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.iso14755: false
URxvt.iso14755_52: false
